@import "compass";

@include establish-baseline;

html {
    height: 100%;
    display: block;
    //@include debug-vertical-alignment;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Droid Sans', sans-serif;
    height: 100%;
    @include pie-clearfix;
    box-sizing: border-box;

    header {
        position: relative;
        vertical-align: middle;

        mark {
            @include adjust-font-size-to(1.7em);
            display: block;
            font-family: 'Raleway', sans-serif;
            background: #b52433;
            color: #ffffff;
        }

        p, h1 {
            text-align: center;
            width: 80%;
            margin: 0 auto;
        }

        h1 {
            @include adjust-font-size-to(2em);
        }

        nav {
            h1 {
                display: none;
            }
            ul {
                padding-left: 1em;
                li {
                    list-style: none;
                }
            }
        }
    }
}

main {
    position: relative;
    vertical-align: middle;
}

article > section {
    @include border-radius(4px 4px);
    @include box-shadow(#f1d9d9 2px 2px 6px);
    width: 80%;
    margin: 0 auto;
    overflow-x: hidden;

    p {
        @include rhythm-margins(1,1);
        padding: 0 0.4em;
        text-align: justify;
    }

    h1, h2 {
        @include adjust-font-size-to(1.5em);
        text-align: center;
    }

    h3 {
        @include adjust-font-size-to(1.17em);
        text-align: center;
    }

    iframe, img {
        width: 98%;
        max-width: 98%;
        padding: 0 0.4em;
        &.halfHeight {
            height: 25em;
        }
    }

    iframe {
        height: 50em;
    }
}

.compactList {
    padding: 0 0;
    li {
        display: block;
    }
}
.gallery {
    @include display-flex;
    @include flex-direction(row);
    padding: 0 0.4em;
    li {
        display: block;
    }
}

/*


body > nav h1 {
  margin: 0;
  font-weight: 800;
}

body > footer {
  font-family: 'Raleway', sans-serif;
  position: relative;
  vertical-align: middle;
  text-align: center;
  margin-top: 1em;
}

body a {
  color: #b52433;
}


main {
  width: 80%;
  margin: 0 auto;
}


article {
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  -moz-box-shadow: #f1d9d9 2px 2px 6px;
  -webkit-box-shadow: #f1d9d9 2px 2px 6px;
  box-shadow: #f1d9d9 2px 2px 6px;
}

article p {
  margin: 1em 1em;
  text-align: justify;
}

article h1 {
  text-align: center;
}
*/
